.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100%;
  text-align: center;
 
  background-position: top;
  background-size: cover;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.header h1 {
  font-size: 50px;
  margin-bottom: 0px;
  color: white;
  font-weight: bolder;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
}

.header p {
  font-size: 19px;
 
  margin-top: 10px;
  font-weight: bold;
  color: white;
  opacity: 0.8;
}

.marketItems {
  padding: 30px;
}

.card {
 
  width: 100%;
 
  color: #666;
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.6em;
  margin: 24px 8px 0 0;
 
  min-height: 300px;
  min-width: 300px;
  padding: 32px 24px;
}

.cardMeta {
 
  align-self: flex-start;
  margin-bottom: 10px;
  max-height: 36px;
  max-width: 36px;
  padding: 0;
}

.card:hover {
 
 
}

.item-avatar {
  align-self: flex-start;
  margin-bottom: 10px;
  max-height: 36px;
  max-width: 36px;
  padding: 0;
}

.title {
  color: #212121;
 
 
 
 
 
 
  font-weight: 900;
  font-stretch: normal;
 
  line-height: 18px;
 
 
  opacity: 0.87;
}
